.Map {
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0;
  z-index: 1;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.legendControl {
  background-color: #f3ecef;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px;
}
